#cabecalho{
    display: flex;
    background-color: aqua;
    border-radius: 25px;
    font-family: monospace;
    font-size: x-large;
    margin-right: 700px;
    .txt{
        margin-top: 90px;

    }
}

body {
    background-color: rgb(255, 255, 255);
    margin: 30px;
    padding: 0px;

}